### Data cleaning and preparation

In [287]:
#Libraries
#!pip install pandas
import pandas as pd
import re

In [288]:
df = pd.read_csv('fifa_cups.csv')
df.columns

df['home'] = df['home'].str.strip()
df['away'] = df['away'].str.strip()

df[df['home'].isnull()]
df.dropna(inplace=True)
#df.info()

In [289]:
outlier = df[df['home'].str.contains('Sweden') & df['away'].str.contains('Austria') ]
#df.drop(index=37, inplace= True)
df.query("home == 'Sweden'")

patron = r'[a-zA-Z]'
lista = df.score.tolist()

condition = [i for i, row in enumerate(lista) if re.search(patron, row) is None]
df_output = df.iloc[condition]

df_output.reset_index(drop=True, inplace=True)
df_output

df.score = df.score.str.strip()
utlier = df[df['home'].str.contains('Sweden') & df['away'].str.contains('Austria') ]
df[df['home'].str.contains('Sweden') & df['away'].str.contains('Austria') ]
#df[df.score.str.contains(r'[^\d–]')]

df['score']= df['score'].str.replace(r'[^\d–]','',regex=True)
df.reset_index(drop=True, inplace=True)


df[['home_score', 'away_score']] = df['score'].str.split('–', expand=True)

df.drop(columns=['score'], inplace=True)

In [290]:
df.rename(columns={'home': 'Home', 'home_score':'Home score','away':'Away','away_score':'Away score', 'year':'Year'}, inplace=True)

In [291]:
df = df[['Home', 'Home score', 'Away', 'Away score', 'Year']]

In [292]:

df['Home score'] = df['Home score'].str.strip()
df['Away score'] = df['Away score'].str.strip()

#df = df.astype({'Home score':int, 'Away score':int, 'Year':int})

In [295]:
df = df.dropna()
df[['Home score', 'Away score', 'Year']] = df[['Home score', 'Away score', 'Year']].astype('Int64')
df.dtypes
df

          Home  Home score     Away  Away score  Year
0       France           4   Mexico           1  1930
1    Argentina           1   France           0  1930
2        Chile           3   Mexico           0  1930
3        Chile           1   France           0  1930
4    Argentina           6   Mexico           3  1930
..         ...         ...      ...         ...   ...
924    England           1   France           2  2022
925  Argentina           3  Croatia           0  2022
926     France           2  Morocco           0  2022
927    Croatia           2  Morocco           1  2022
928  Argentina           3   France           3  2022

[928 rows x 5 columns]

In [294]:
df.to_csv('clean_data.csv', index=False)